.ToggleButton {
  display: inline-block;
  position: relative;
  margin: 1rem;
}

.btn {
  padding: .5em 1.5em;
  border: 0;
  background-color: rgb(26, 111, 111);
  color: #fff;
}
.btn-outline {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.expandable {
  background-color: blue;
  padding: .5rem 1rem;
  width: 80%;
  position: absolute;
  top: 150%;
}