.container {
  width: 80%;
  margin: 2rem auto;
  max-width: 720px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px #00000035;
}


.Header {
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 2rem;
  position: relative;
}

.clear-btn {
  background-color: #7c3a3a;
  color: #fff;
  border: 0;
  padding: .3em .8em;
  border-radius: 100vh;
  position: absolute;
  right: 1rem;
  cursor: pointer;
  transition: all 150ms ease;
}

.clear-btn:hover { background-color: #642c2c; }
.clear-btn:active { background-color: #4f2121; }

.ShoppingList {
  height: 70vh;
  overflow: auto;
}

.ListItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cfcfcf;
  padding-block: .2rem;
}
.product-title {
  flex: 3;
  cursor: pointer;
  user-select: none;
}
.qty-buttons { 
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.buttons { 
  flex: 2;
  text-align: end;
}

.complete {
  text-decoration: line-through;
  color: #858585;
}

.btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: #858585;
}

.btn-minus,
.btn-plus {
  font-size: 1rem;
}

.btn-minus:hover { color: #cd3535; }
.btn-plus:hover { color: #6acd35; }
.change-btn:hover { color: #3caaa1; }
.delete-btn { margin-left: .5rem; }
.delete-btn:hover { color: #a42727; }

.AddItemForm {
  display: flex; 
  gap: 1rem;
}

.product-input {
  flex: 30;
}
.qty-input {
  flex: 1;
  min-width: 75px;
}
.AddItemForm input,
.AddItemForm button {
  width: 100%;
  padding: .3em .5em;
  border: 1px solid #acacac;
  border-radius: .4em;
  transition: all 150ms ease;
}

.AddItemForm button {
  flex: 10;
  border: 0;
  background-color: #858585;
  color: #fff;
  cursor: pointer;
}
.AddItemForm button:hover {
  background-color: #2e8d6c;
}
.error {
  color: #9f1f1f;
  font-size: .9rem;
  text-align: center;
  margin-bottom: .5rem;
}